blinker==1.9.0
click==8.2.1
Flask==3.1.1
grpcio==1.73.1
grpcio-tools==1.73.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
protobuf==6.31.1
python-dotenv==1.1.1
setuptools==80.9.0
slack_bolt==1.23.0
slack_sdk==3.35.0
Werkzeug==3.1.3
